@import "tailwindcss";

body {
  background: #000;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.side_gap {
  height: 100%;
  margin: 0 15px;
  border-right: 0.3px solid rgba(255, 255, 255, 0.2);
  border-left: 0.3px solid rgba(255, 255, 255, 0.2);
}