@import "tailwindcss";
@import "lenis/dist/lenis.css";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  background: #FBFBFB;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.side_gap {
  height: 100%;
  margin: 0 15px;
  border-right: 0.3px solid rgba(66, 66, 66, 0.2);
  border-left: 0.3px solid rgba(66, 66, 66, 0.2);
}

.social-links {
  transition: linear 0.1s;
}

.social-links>svg {
  transition: linear 0.1s;
}

.social-links:hover>svg {
  fill: var(--primary-color);
}