@import "tailwindcss";
@import "lenis/dist/lenis.css";

@font-face {
  font-family: BaseNeu;
  src: url('../assets/font/BaseNeueTrial-ExpExtBd.ttf');
}

@font-face {
  font-family: BaseNueLight;
  src: url('../assets/font/BaseNeueTrial-SuperExpExtBd.ttf');
}

@font-face {
  font-family: BaseNeuItalic;
  src: url('../assets/font/BaseNeueTrial-CondensedBold.ttf');
}


:root {
  --primary-color: #EE363D;
  --highlight-color: yellow;
  --secondary-color: rgba(251, 251, 251, 1);
  --tertiary-color: #ff4d6d;
  --hover-secondary-color: #F9ADB0;
  --font-base: BaseNue, sans-serif;
  --font-baseNue: BaseNueLight, sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  background: #FBFBFB;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.title2 {
  font-size: 3.5vw;
}

.container-fluid {
  padding: 0 15px;
  max-width: 100% !important;
}

.copyright_text {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 38px;
  font-weight: 600;
  display: inline-block;
  transform: scaleY(1.2);
}

.side_gap {
  height: 100%;
  margin: 0 15px;
  border-right: 0.3px solid rgba(66, 66, 66, 0.2);
  border-left: 0.3px solid rgba(66, 66, 66, 0.2);
}

.social-links {
  transition: linear 0.1s;
}

.social-links>svg {
  transition: linear 0.1s;
}

.social-links:hover>svg {
  fill: var(--primary-color);
}

.banner-section-background {
  position: absolute;
  inset: 0;
  min-height: 110vh;
  z-index: -3;
  background: url('../assets/Image/background.jpg') no-repeat center/cover;
  background-attachment: fixed;
}

.service_showcase {
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}

.service_showcase>span {
  transition: 0.25s linear;
  display: inline-block;
}

.service_showcase:hover>span {
  transform: translateY(32px);
}

.service_showcase:hover::after {
  bottom: 0;
}

.service_showcase::after {
  display: inline-block;
  content: var(--content);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  color: white;
  mix-blend-mode: difference;
  transition: 0.25s linear;
}


.card_stats {
  font-size: 72px;
  font-weight: 700;
  font-family: var(--font-inter);
  position: relative;
  text-align: start;
}

.card_stats::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
}

.services_count::after{
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:0.5px;
  background: rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
  .banner-section-background::after {
    content: '';
    position: absolute;
    z-index: -2;
    inset: 0;
    background: url('../assets/Image/background-mask.jpg') repeat center;
  }

  .title2 {
    font-size: 27px;
  }

  .copyright_text {
    font-size: 25px;
  }

  .card_stats {
    font-size: 40px;
  }
}